/*******************************************************************************
 * _layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Program\%20Files\%20\(x86\)\/VertrigoServ\/www\/bayit-cham\/sites\/all\/themes\/bayitcham\/sass\/layouts\/bayitcham\/bayitcham\.layout\.scss}line{font-family:\0000331}}
.l-header,
.l-header2,
.l-main,
.l-footer {
  *zoom: 1;
  max-width: 950px;
  _width: 950px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.l-header:after,
.l-header2:after,
.l-main:after,
.l-footer:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Program\%20Files\%20\(x86\)\/VertrigoServ\/www\/bayit-cham\/sites\/all\/themes\/bayitcham\/sass\/layouts\/bayitcham\/bayitcham\.layout\.scss}line{font-family:\0000336}}
.l-main {
  margin-bottom: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Program\%20Files\%20\(x86\)\/VertrigoServ\/www\/bayit-cham\/sites\/all\/themes\/bayitcham\/sass\/layouts\/bayitcham\/bayitcham\.layout\.scss}line{font-family:\0000339}}
.l-footer {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Program\%20Files\%20\(x86\)\/VertrigoServ\/www\/bayit-cham\/sites\/all\/themes\/bayitcham\/sass\/layouts\/bayitcham\/bayitcham\.layout\.scss}line{font-family:\0000346}}
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 20px;
}

@media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Program\%20Files\%20\(x86\)\/VertrigoServ\/www\/bayit-cham\/sites\/all\/themes\/bayitcham\/sass\/layouts\/bayitcham\/bayitcham\.layout\.scss}line{font-family:\0000354}}
  .l-header,
  .l-header2,
  .l-main,
  .l-footer {
    max-width: 950px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Program\%20Files\%20\(x86\)\/VertrigoServ\/www\/bayit-cham\/sites\/all\/themes\/bayitcham\/sass\/layouts\/bayitcham\/bayitcham\.layout\.scss}line{font-family:\0000359}}
  .l-branding {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Program\%20Files\%20\(x86\)\/VertrigoServ\/www\/bayit-cham\/sites\/all\/themes\/bayitcham\/sass\/layouts\/bayitcham\/bayitcham\.layout\.scss}line{font-family:\0000363}}
  .l-region--header,
  .l-region--header2 {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Program\%20Files\%20\(x86\)\/VertrigoServ\/www\/bayit-cham\/sites\/all\/themes\/bayitcham\/sass\/layouts\/bayitcham\/bayitcham\.layout\.scss}line{font-family:\0000366}}
  .l-region--navigation {
    clear: both;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Program\%20Files\%20\(x86\)\/VertrigoServ\/www\/bayit-cham\/sites\/all\/themes\/bayitcham\/sass\/layouts\/bayitcham\/bayitcham\.layout\.scss}line{font-family:\0000373}}
  .sidebar-first .l-content,
  .sidebar-second .l-content,
  .two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Program\%20Files\%20\(x86\)\/VertrigoServ\/www\/bayit-cham\/sites\/all\/themes\/bayitcham\/sass\/layouts\/bayitcham\/bayitcham\.layout\.scss}line{font-family:\0000377}}
  .sidebar-first .l-region--sidebar-first,
  .sidebar-first .l-region--sidebar-second,
  .sidebar-second .l-region--sidebar-first,
  .sidebar-second .l-region--sidebar-second,
  .two-sidebars .l-region--sidebar-first,
  .two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Program\%20Files\%20\(x86\)\/VertrigoServ\/www\/bayit-cham\/sites\/all\/themes\/bayitcham\/sass\/layouts\/bayitcham\/bayitcham\.layout\.scss}line{font-family:\0000380}}
  .sidebar-first .l-region--sidebar-second,
  .sidebar-second .l-region--sidebar-second,
  .two-sidebars .l-region--sidebar-second {
    clear: right;
  }
}
@media (min-width: 10px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Program\%20Files\%20\(x86\)\/VertrigoServ\/www\/bayit-cham\/sites\/all\/themes\/bayitcham\/sass\/layouts\/bayitcham\/bayitcham\.layout\.scss}line{font-family:\0000390}}
  .l-header,
  .l-header2,
  .l-main,
  .l-footer {
    max-width: 950px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Program\%20Files\%20\(x86\)\/VertrigoServ\/www\/bayit-cham\/sites\/all\/themes\/bayitcham\/sass\/layouts\/bayitcham\/bayitcham\.layout\.scss}line{font-family:\0000395}}
  .l-branding {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Program\%20Files\%20\(x86\)\/VertrigoServ\/www\/bayit-cham\/sites\/all\/themes\/bayitcham\/sass\/layouts\/bayitcham\/bayitcham\.layout\.scss}line{font-family:\0000399}}
  .l-region--header,
  .l-region--header2 {
    width: 83.05085%;
    float: right;
    margin-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Program\%20Files\%20\(x86\)\/VertrigoServ\/www\/bayit-cham\/sites\/all\/themes\/bayitcham\/sass\/layouts\/bayitcham\/bayitcham\.layout\.scss}line{font-family:\00003107}}
  .sidebar-first .l-content {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Program\%20Files\%20\(x86\)\/VertrigoServ\/www\/bayit-cham\/sites\/all\/themes\/bayitcham\/sass\/layouts\/bayitcham\/bayitcham\.layout\.scss}line{font-family:\00003110}}
  .sidebar-first .l-region--sidebar-first {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Program\%20Files\%20\(x86\)\/VertrigoServ\/www\/bayit-cham\/sites\/all\/themes\/bayitcham\/sass\/layouts\/bayitcham\/bayitcham\.layout\.scss}line{font-family:\00003115}}
  .sidebar-second .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Program\%20Files\%20\(x86\)\/VertrigoServ\/www\/bayit-cham\/sites\/all\/themes\/bayitcham\/sass\/layouts\/bayitcham\/bayitcham\.layout\.scss}line{font-family:\00003118}}
  .sidebar-second .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    clear: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Program\%20Files\%20\(x86\)\/VertrigoServ\/www\/bayit-cham\/sites\/all\/themes\/bayitcham\/sass\/layouts\/bayitcham\/bayitcham\.layout\.scss}line{font-family:\00003125}}
  .two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 16.94915%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Program\%20Files\%20\(x86\)\/VertrigoServ\/www\/bayit-cham\/sites\/all\/themes\/bayitcham\/sass\/layouts\/bayitcham\/bayitcham\.layout\.scss}line{font-family:\00003130}}
  .two-sidebars .l-region--sidebar-first,
  .two-sidebars .l-region--sidebar-second {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Program\%20Files\%20\(x86\)\/VertrigoServ\/www\/bayit-cham\/sites\/all\/themes\/bayitcham\/sass\/layouts\/bayitcham\/bayitcham\.layout\.scss}line{font-family:\00003133}}
  .two-sidebars .l-region--sidebar-first {
    margin-left: -84.74576%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Program\%20Files\%20\(x86\)\/VertrigoServ\/www\/bayit-cham\/sites\/all\/themes\/bayitcham\/sass\/layouts\/bayitcham\/bayitcham\.layout\.scss}line{font-family:\00003136}}
  .two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none;
  }
}
