/*******************************************************************************
 * _utils.scss
 *
 * Sass offers come very useful features, these include variables functions and
 * mixins. Extensions such as Compass and Susy can also be used to provide extra
 * functions and mixins to be used throughout the theme. This file acts as a
 * single place for defining these things, which can then be accessed by
 * importing _utils.scss where required. The following should be defined in this
 * file:
 * - Custom Sass mixins for the theme.
 * - Custom Sass functions for the theme.
 * - Overriding the default variables provided by extensions such as Compass.
 * - Defining new variables for:
 *      - Colors.
 *      - Font sizes and families.
 *      - Layout and grid sizing.
 ******************************************************************************/

$bch-font-family: "Arial";
@mixin megamenu-sons-li {
  float: left;
  position: relative;
  width: 196px;
  clear: none;
}
@mixin megamenu-sons-li-border {
  border-left: 1px solid #dddcdc;
  border-right: 1px solid #dddcdc;
}
@mixin footer-icons {
  height: 49px;
  width: 49px;
  float: left;
  margin-left: 13px;
}
@mixin footer-icons-span{
  display: block;
  opacity: 0;
  position: relative;
  transition: opacity 0.3s ease-in-out 0s;
  height: 100%;
  width: 100%;
}


/* =============================================================================
 *   Links
 * ========================================================================== */

a, input.form-submit, input.submit {
  text-decoration: none;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease; 
  -moz-transition: opacity 0.5s ease; 
  -o-transition: opacity 0.5s ease;
}

a:link,
a:visited {}

a:active,
a.active {}

a:hover,
a:focus, input.form-submit:hover, input.submit:hover {
  
}

.l-footer{
  color: #fff;
}
.l-footer a{
  text-decoration: none;
}
.l-footer a.active{
  color: #fff;
}